body {
  background:#111;
  color:white;
  font-family:Arial;
  text-align:center;
  padding:20px;
}

.box, .card {
  background:#1d1d1d;
  padding:15px;
  margin:10px;
  border-radius:8px;
}

input, select, button {
  width:90%;
  padding:10px;
  margin:8px;
  border-radius:5px;
  border:none;
}

button {
  background:#ff4141;
  color:white;
  font-weight:bold;
}